@page
@model LoginModel

<h3>Let's have a chat with Tamura-san!</h3>
<div class="row">
    <div class="col" style="padding: 15px;">
        <section id="socialLoginForm">
            <p>Choose your favarite SNS to log in.</p>
            <hr />
            <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            if (provider.Name == "Google")
                            {
                                <button type="submit" class="login-google" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        }
                    </p>
                </div>
            </form>
            <hr />
        </section>
    </div>
</div>

<p>This chat system uses <a href="https://aplac.net/">APLaC</a>'s essays, written by Mr.Tamura, as the human language corpus. The responses you get here are all based on his essays!</p>

<iframe src="@Model.EmbedIndexURL" scrolling="no" width="100%" 
    height="300" frameborder="0" style="border:0"></iframe>

<h3>Chat anyware!</h3>
<p>Use the code below to embed the chat frame into your web site. He can be anywhere!</p>
<input type="text" style="width: 100%" 
    value="<iframe src=&quot;@Model.EmbedIndexURL&quot; scrolling=&quot;no&quot; width=&quot;100%&quot; height=&quot;300&quot; frameborder=&quot;0&quot; style=&quot;border:0&quot;></iframe>"
 />
